@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

html {
  font-family: 'Megrim', cursive;
  font-weight: bold;
  background-image: linear-gradient(107.56deg, #4478FF 0%, #FF8F8F 83.89%);
  background-size: cover;
  height: 100%;
}

.glass {
   display: flex;
   flex-direction: column;
   background: linear-gradient(
     159.43deg,
     rgba(255, 255, 255, 0.8) 0%,
     rgba(255, 255, 255, 0.432) 100%
   );
   backdrop-filter: blur(2px);
   width: 500px;
   height: 250px;
   align-items: center;
   border-radius: 20px;
}

input[type="range"] {
   -webkit-appearance: none;
   width: 100%;
   height: 7px;
   background: #000000;
   outline: none;
   border-radius: 5px;
 }
 
 input[type="range"]::-webkit-slider-thumb:hover {
   transform: scale(1.1, 1.1);
 }
 
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 25px;
   height: 25px;
   border-radius: 100px;
   background: #000000;
   cursor: pointer;
   transition: 0.2s;
 }
 
 input[type="range"]::-moz-range-thumb {
   width: 25px;
   height: 25px;
   background: #000000;
   cursor: pointer;
 }

 @media only screen and (max-width: 1300px) {
   .mobiles {
     display: flex !important;
     height: 100vh;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100vw;
     text-align: center;
   }
   .panel {
     display: none !important;
   }
   .glassmorphicssm {
     display: none !important;
   }
 }

 .mobiles > h1 {
   color: white;
   font-size: 80px;
   margin: 0;
 }

 .mobiles > p {
   color: white;
 }

 .mobiles > p > a {
   color: #2373ff;
   text-decoration: none;
 }